# VSCode
.vscode/

# profiler output
*.prof
*.pprof
gpu/profiler_output/

# Cpp build output
*/build/

# go test binary
gosrc/gosrc.test
gosrc/gosrc.asm

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
